@charset "UTF-8";

body {
    background-color: lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times,'Times New Roman', serif;
}
        
h1 {
    color: mediumblue;
    background-color: dodgerblue;
    text-decoration: underline;
}
        
h2 {
    color: red;
}
        
p {
    text-align: justify;
}